# http://editorconfig.org
root = true

[*]
indent_style = space
indent_size = 4
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true
end_of_line = lf
# 引用字符串默认使用单引号
quote_type = single

[*.md]
trim_trailing_whitespace = false
